<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to My Website!</h1>
    <p class="lead">Currently on-going project. The UI is still simple and I plan on adding more to this, but this is
      my starting point.</p>
  </div>
</div>



<body>
  <div class="links">
    <ul>
      <a href="https://www.github.com/jcklly/" target="_blank">
        <li id="link"><i class="fa fa-github"></i></li>
      </a>
      <a href="https://www.facebook.com/profile.php?id=100000480322547/" target="_blank">
        <li id="link"><i class="fa fa-facebook"></i></li>
      </a>
      <a href="https://www.linkedin.com/in/jcklly/" target="_blank">
        <li id="link"><i class="fa fa-linkedin"></i></li>
      </a>
    </ul>
  </div>
</body>