#link {
    list-style: none;
    margin: 30px;
    display: inline-block;
    font-size: 50px;
    width: 75px;
    color: #fff;
    border-radius: 10px;
    transition: .3s;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.links {
    position: relative;
    text-align: center;
}


#link:hover {
    color: #292929;
    transition: .3s;
    transform-origin: center;
    transform: scale(0.9)
}

#link:active {
    transform-origin: center;
    transform: scale(0.5);
}