
<main>
  Welcome to My Website. Parallax coming soon.
</main>


<body id="Socials">
  <div class="links">
    <ul>
      <a href="https://www.github.com/jcklly/" target="_blank">
        <li id="link"><i class="fa fa-github"></i></li>
      </a>
      <a href="https://www.facebook.com/profile.php?id=100000480322547/" target="_blank">
        <li id="link"><i class="fa fa-facebook"></i></li>
      </a>
      <a href="https://www.linkedin.com/in/jcklly/" target="_blank">
        <li id="link"><i class="fa fa-linkedin"></i></li>
      </a>
    </ul>
  </div>
</body>